*
src/components/header/Header.tsx
src/pages/authentication/LoginPage.tsx
src/pages/authentication/OTPPage.tsx
src/pages/authentication/Registration/IndividualSignUp/IndividualForm.tsx
src/pages/authentication/Registration/OrganisationSignUp/OrganizationSignUp.tsx
src/pages/dashboard/admin/AdminAccountPage.tsx
src/pages/dashboard/admin/AdminArchivePage.tsx
src/pages/dashboard/admin/AdminDashBoard.tsx
src/pages/dashboard/admin/AdminReceiptsPage.tsx
src/pages/dashboard/admin/AdminSidebar.tsx
src/pages/dashboard/admin/ManageUserPage.tsx
src/pages/dashboard/organization/OrgSidebar.tsx
src/pages/dashboard/user/UserSidebar.tsx
src/pages/ManageAccountPage.tsx
src/pages/manageDocuments/ManageDocumentPage.tsx
src/pages/manageDocuments/shared/TableColumn.tsx
src/pages/verifyDocuments/shared/EducationForm.tsx
src/pages/verifyDocuments/shared/FinancialRecord.tsx
src/pages/verifyDocuments/shared/ProfessionalCertificateForm.tsx
src/pages/verifyDocuments/UploadDocument.tsx
src/pages/verifyDocuments/VerifyDocumentPage.tsx
src/routes/ProtectedRoutes.tsx
