@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Bai Jamjuree;
  }
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}


.custom__scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom__scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom__scrollbar::-webkit-scrollbar-thumb {
  background: #40b52d;
  border-radius: 24px;
}

.custom__scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d4973b;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
